* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  padding: 10px;
  background-color: rgb(133, 7, 7);
  margin: 10px;
}

nav a{color: white ; text-decoration:none ; }
.grid-3 {
  display: flex;
}

main {
  height: 90vh;
}

.album-name {
  display: flex;
  align-content: flex-end;
}
.frank-home { 
    display: flex;
    align-content: flex-start;
}
.tracks li {color: rgb(133, 7, 7) ; font-family:futura ; border-bottom: 10pixels rgb(133, 7, 7);  ;}